body {
  background-color:rgb(53, 53, 53); /* un gris muy claro, más profesional */
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(240, 214, 187);
  margin: 0;
  padding: 20px;
}
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.center-text ul,
.center-text ol  {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}